@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}


body {
  font-family: "Outfit", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--slate-300);
}

.container {
  max-width: 320px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
  text-align: center;
}
.container .qr-code img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.container .content {
  padding: 0 .8em;
}
.container .content h1 {
  font-size: 1.3em;
  font-weight: 900;
  color: var(--slate-900);
  margin-top: 1.5rem;
}

.container .content p {
  font-size: 1em;
  font-weight: 400;
  color: var(--slate-500);
  margin: 1.25rem 0;
}

/* Media Query */

@media (max-width: 320px) {
  .container .content h1 {
    font-size: 1.125rem;
  }

  .container .content p {
    font-size: .8rem;
  }
}